<h2>Birds</h2>
<form *ngIf="searchActive" #searchForm="ngForm" class="search-form">
  <label for="name"></label>
  <input type="text" name="search" id="search" placeholder="Search for Name, Location, Date" [(ngModel)]="search" (keyup)="searchBirds()">
</form>
<div class="controls">
    <a routerLink="/add">
      <button>Add Birds</button>
    </a>
    <button (click)="toggleSearch()">Search</button>
</div>
<ul *ngIf="!searchActive">
  <app-bird-lister [birds]="birds.reverse()"></app-bird-lister>
</ul>
<ul *ngIf="searchActive">
    <app-bird-lister [birds]="filteredBirds.reverse()"></app-bird-lister>
</ul>
<div *ngIf="loading" class="spinner">
  <img src="../../assets/loading.gif" alt="Loading Spinner">
</div>
