/* You can add global styles to this file, and also import other style files */
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #4c4c4c;
}

header {
  width: 100%;
  padding: 30px 0;
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
}

h1 b {
  font-weight: 600;
  color: #306645;
}

h1,
h2 {
  text-align: center;
}

h2 {
  font-size: 26px;
  margin-bottom: 25px;
}

h3 {
  font-weight: 600;
  margin-top: 55px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

h3,
p {
  margin-left: 25px;
}

li {
  list-style: none;
}

.bird-listing {
  display: grid;
  width: 500px;
  grid-gap: 50px;
  grid-template-rows: auto 1fr;
  grid-template-columns: 150px 1fr;
  margin-bottom: 24px;
  color: #306645;
  border: 2px solid #306645;
  border-radius: 15px;
}

.bird-listing:hover {
  background-color: #418b5d;
  border: 2px solid #418b5d;
  color: #eef7f1;
  transition: all .15s ease;
}

.bird-listing:active {
  transform: scale(0.99);
}

img {
  max-width: 100%;
  padding: 25px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.controls {
  display: flex;
  justify-content: center;
}

button {
  width: 235px;
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
  padding: 18px 0px;
  font-size: 16px;
  font-weight: 600;
  color: #eef7f1;
  border: 1px solid #306645;
  background-color: #306645;
  border-radius: 10px;
}

button:hover {
  background-color: #418b5d;
  border: 1px solid #418b5d;
  color: #eef7f1;
  transition: all .15s ease;
}

button:active {
  transform: scale(0.98);
  color: #eef7f1;
  border: 1px solid #418b5d;
  background-color: #418b5d;
}

a button {
  margin-right: 35px;
}

.add-bird-form {
  width: 500px;
}

input,
label {
  display: block;
  width: 480px;
}

label {
  color: #306645;
  margin-bottom: 5px;
}

input {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding: 5px 10px;
  margin-bottom: 15px;
  border: 1px solid #306645;
  border-radius: 5px;
}

#submit {
  width: 100%;
  color: #eef7f1;
  background-color: #306645;
  margin-bottom: 25px;
  margin-top: 15px;
}

#submit:hover {
  color: #eef7f1;
  background-color: #418b5d;
  border: 1px solid #418b5d;
}

a {
  text-decoration: none;
}

header a {
  color: #4c4c4c;
}

header a:visited {
  color: #4c4c4c;
}

header:hover {
  opacity: 85%;
  transition: all .15s ease;
}
